<div class="about">
  <div class="row">
    <div class="ava-box">
      <picture class="ava">
        <source srcset="assets/images/me.webp" type="image/webp"/>
        <source srcset="assets/images/me.png" type="image/png"/>
        <img src="assets/images/me.png" alt="Khamitov Rail' — Java Software Engineer" width="480" height="480"/>
      </picture>
    </div>
    <blockquote>The quality solution is primary, the tools are secondary</blockquote>

  </div>
  <table>
    <tr>
      <th>Commercial Experience</th>
      <td><span id="exp">{{ data.experience }} years</span></td>
    </tr>
    <tr>
      <th>Languages</th>
      <td><span class="nowrap">Russian (native),</span><span> </span><span
          class="nowrap">English (Intermediate)</span></td>
    </tr>
    <tr>
      <th>Current location</th>
      <td>
        <a class="no-print-href" target="_blank" rel="noreferrer"
           href="https://www.google.ru/maps/place/%D0%A1%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%B2,+%D0%A1%D0%B0%D1%80%D0%B0%D1%82%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB./@51.5317097,45.8568217,11z/data=!3m1!4b1!4m5!3m4!1s0x4114c709059bbc41:0x1c685156439035f6!8m2!3d51.5461749!4d46.01542">
          <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24"
               height="24">
            <use href="./assets/sprite.svg#location.svg"></use>
          </svg>
          <span>Russia,&nbsp;<span class="nowrap">Saratov</span></span>
        </a>
      </td>
    </tr>
    <tr>
      <th>Current Job</th>
      <td>
        Senior Java Developer at
        <a href="https://weigandt-consulting.com" target="_blank" rel="noreferrer">
          Weigandt Consulting
        </a>
      </td>
    </tr>

    {% for contact in data.contacts %}
      <tr>
        <th>{{ contact.label }}</th>
        <td><a class="no-print-href" href="{{ contact.url }}" aria-label="{{ contact.label }}" rel="noreferrer">
            <svg class="icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="24"
                 height="24">
              <use href="./assets/sprite.svg#{{ contact.iconClass }}"></use>
            </svg>
            <span class="text">
          {% if contact.fullText %}
            {{ contact.fullText }}
          {% else %}
            {{ contact.text }}
          {% endif %}
        </span>
          </a>
        </td>
      </tr>
    {% endfor %}

  </table>
</div>
