<section>
  <h2 class="no-print">Key skills</h2>
  <ul class="skills notranslate">
    <li>
      Java
      <ul>
        <li>Java 8/11/16</li>
        <li>Spring Framework</li>
        <li>Spring Boot</li>
        <li>Flyway/Liquibase</li>
      </ul>
    </li>
    <li>
      Build Tools
      <ul>
        <li>Ant</li>
        <li>Maven</li>
        <li>Gradle</li>
      </ul>
    </li>
    <li>
      Databases/Message Brokers
      <ul>
        <li>Postgres</li>
        <li>MongoDB</li>
        <li>Clickhouse</li>
        <li>Reddis</li>
        <li>RabbitMQ</li>
        <li>Kafka</li>
      </ul>
    </li>
    <li>
      Clouds
      <ul>
        <li>Microsoft Azure</li>
      </ul>
    </li>
    <li>
      CI/CD
      <ul>
        <li>Jenkins</li>
        <li>Teamcity</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Openshift</li>
        <li>Heroku</li>
      </ul>
    </li>

  </ul>
</section>
